@charset "ISO-8859-1";/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-image: url(/src/main/webapps/img/banner1.jpg);
}

.menu {
    background-color: #c5e1a5;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover {
    color: #8bc34a;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px;
    text-align: center;
}
